:root {

    --texto: #231b12;
    --texto-alternativo: #f4f4ef;
    --caja: #fcfcf7;
    --barra-nav:#3f6816;
    --contenedor: #86ac41;
    --activo: #ffec5c;
    --cuerpo: #b7b8b6;
    --mision: #4b7447;
    --disponible: #258039;
    --urgente: #cf3721;
    --tramitando: #f77604;
    --login: #81715e;
    --alta: #cdab81;
    --filtro: #d5c3aa;
}

body{
    background-color: var(--cuerpo);
    color: var(--texto);
    
}

.container{
    background-color: var(--contenedor);
}

h1{
    font-size: 64px;
    line-height: 84px;
    color:var(--texto-alternativo);
}

/* Barra de navegación */
.nombre_web{
    font-size: 2.5rem;
    line-height: 1.2;
    color:var(--texto-alternativo);
}

nav, footer{
    background-color: var(--barra-nav);
}

nav ul li a{
    color: var(--texto-alternativo);
}

.activo{
    color:var(--activo) !important;
}

a{
    color:var(--texto-alternativo);
}

a:hover{
    text-decoration: none;
    color:var(--texto-alternativo);
}

.usuario_conectado{
    color:var(--texto-alternativo);
    font-size: 14px;
    margin:0;
    padding-bottom:5px;
}

/* Colores toggle button */
¡
.custom-toggler.navbar-toggler {
    border-color: #3f6816;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(244, 244, 239, 1)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Footer */

footer{
    color:var(--texto-alternativo);
}

footer a{
    color:var(--texto-alternativo);
}

.footer_tamanyo_minimo{
    min-width: 305px;
}

.footer_iconos{
    max-height: 80px; 
    max-width: 80px;
}

/* Inicio */

.imagen_inicio{
    max-height: 450px;
}

.cita_inicio{
    background-color: var(--tramitando);
    color: var(--texto-alternativo);
}

.cita_inicio h6{
    font-size: 25px;
}

.cita_inicio p, p{
    font-size:18px; 
}

.mision{
    background-color: var(--mision);
    
}

.mision h2{
    text-align:center;
    font-size:45px;
    color:var(--texto-alternativo)
}

.altura_carta{
    height:16rem; 
}

.inicio_titulos{
    font-size: 30px;
    line-height: 39px;
    color:var(--texto-alternativo);
}

.inicio_texto{
    font-size: 20px;
    line-height: 26px;
    text-align:justify;
    color:var(--texto) !important;
}

.inicio_resumen{
    font-size: 18px;
    line-height: 22px;
    text-align:justify;
    color:var(--texto) !important;
}

.inicio_btn_mascota{
    color:var(--letras);
    padding: 5px;
    font-size: 25px;
}

.leer_mas, .leer_mas:hover{
    color:var(--texto-alternativo) !important;
    font-weight: bold;
}

/* Noticias */
.no_noticia{
    display:flex;
    align-items: center;
    font-size:25px;
    height:385px;
    margin: auto;
}

/* Página mascotas */

.no_encontrado{
    display:flex;
    align-items: center;
    font-size:25px;
    height:357px;
}

.filtro{
    background-color: var(--filtro);
}
.mascotas_filtros{
    padding: 5px;
    margin-right: 15px;
}

.letra_filtro{
    font-size:22px;
    color:var(--texto);
}

.boton_filtrar{
    border-radius: 15px;
    padding: 5px 30px;
    background-color: var(--barra-nav);
    color: var(--texto-alternativo);
}

.inicio_carta{
    background-color: var(--login);
    width: 19rem;
}

.inicio_carta h5{
    color:var(--texto-alternativo);
}

.estado_disponible, .estado_disponible:hover{
    background-color: var(--disponible);
    color: var(--texto-alternativo);
}

.estado_urgente, .estado_urgente:hover{
    background-color: var(--urgente);
    color: var(--texto-alternativo);
}

.estado_tramitando, .estado_tramitando:hover{
    background-color: var(--tramitando);
    color: var(--texto-alternativo);
}

/* Detalles mascota */

.cabecera_caja{
    background-color: var(--cuerpo);
    color: black;
}

.caja{
    background-color: var(--caja);
}

.descripcion_mascota{
    background-color: var(--texto-alternativo);
}

.requisitos_mascota{
    background-color: var(--texto-alternativo);
}

.si{
    color:green;
}

.no{
    color:red;
}

/* Detalles noticia */
.imagen_detalle_noticia{
    max-height: 400px; 
    width: 100%;
}

/* Pantalla login */

.fondo_login{
    background-color:  var(--login);
}

.cabecera_login{
    color: var(--texto-alternativo);
}
.error_login{
    color: #ff8100; 
    font-weight:bold;
    font-size: 18px;
}

.btn_login{
    color: var(--texto-alternativo);
    background-color: var(--barra-nav);
    border-color: var(--barra-nav);
    font-size: 20px;
    border-radius: 30px;
}

.btn:hover{
    color: var(--texto-alternativo);
}

.form_alta{
    background-color: var(--alta);
}

.btn_guardar{
    color: var(--texto-alternativo);
    background-color: var(--barra-nav);
    border-color: var(--barra-nav);
    font-size: 20px;
    border-radius: 30px;
}


/* Media queries */

@media(max-width: 767px){
    h1{
        font-size: 45px;
        line-height: 50px;
        text-align: center;
    }

    .cabecera_login{
        font-size: 30px;
    }
}