:root{
    --barra-nav: #3f6816;
    --texto: black;
    --texto-alternativo: #f4f4ef;
    --cuerpo: #c5beba;
    --panel:#5F1669;
    --acciones: #A002B5;
    --panel-iconos-lista: #58d76d;
    --contenedor: #d5d2d2;
    --formulario: #cdab81;
    --exito:#4fa919;
    --error:#ff6500;
    --activo: #ffec5c;
    --editar: #009318;
    --disponible: green;
    --urgente: #f424f8;
    --tramitando: orange;
    --adoptada:blue;
    --pendiente: red;
}

body{
    background-color: var(--cuerpo);
}

.container{
    background-color: var(--contenedor);
}

.cabecera_panel{
    background-color: var(--panel);
    
}
.cabecera_panel a, .cabecera_panel a:hover{
    color:var(--texto-alternativo);
}

.nombre_web{
    color:var(--texto-alternativo);
}

nav{
    background-color: var(--barra-nav);
}

nav ul li a{
    color:var(--texto-alternativo);
}

.usuario_conectado{
    color:var(--texto-alternativo);
    font-size: 14px;
    margin:0;
    padding-bottom:5px;
}

/* Colores toggle button */
¡
.custom-toggler.navbar-toggler {
    border-color: var(--barra-nav);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(244, 244, 239, 1)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.activo{
    color:var(--activo) !important;
}

a, a:hover{
    text-decoration: none;
    color:var(--texto-alternativo);
}

.acciones, .acciones a, .acciones a:hover{
    background-color: var(--acciones);
    color:var(--texto-alternativo);
}

.flash_exito{
    background-color: var(--exito);
    color:var(--texto-alternativo);
    font-weight: bold;
    font-size: 15px;
    padding: 10px 15px;
}

.flash_error{
    background-color: var(--error);
    color:var(--texto-alternativo);
    font-weight: bold;
    font-size: 15px;
    padding: 10px 15px;
}

.dialogo{
    position:fixed;
    right: 0;
    bottom:0;
    margin:10px;
    cursor: pointer;
}

.iconos_panel{
    font-size: 20px;
}

.iconos_lista{
    color: var(--panel-iconos-lista);
}

.pdte_aprobar{
    font-weight: bold;
    background-color: var(--pendiente);
    color:var(--texto-alternativo);
    padding: 0 10px;
    border-radius: 10px;
}

.btn_login{
    color: var(--texto-alternativo);
    background-color: var(--barra-nav);
    border-color: var(--barra-nav);
    font-size: 20px;
    border-radius: 30px;
}

/* Formularios */

.formulario{
    background-color: var(--formulario);
}

.btn_guardar{
    color: var(--texto-alternativo);
    background-color: var(--barra-nav);
    border-color: var(--barra-nav);
    font-size: 20px;
    border-radius: 30px;
}

.btn:hover{
    color: var(--texto-alternativo);
}

/* Colores tabla */
.table thead th{
    background-color:#B3B6B7 !important;
}

tr:nth-child(odd) {
    background-color: #ECF0F1;
}

tr:nth-child(even) {
    background-color: #F4F6F7;
}

.editar{
        color:var(--editar);
        font-size: 20px;
}

.ver_ficha, .ver_ficha:hover{
    color: var(--texto);
}

.aprobar, .aprobar:hover{
    color: var(--texto-alternativo);
    font-size: 16px;
    background-color: var(--exito);
    padding: 5px;
    border-radius: 18px;
}

.rechazar, .rechazar:hover{
    color: var(--texto-alternativo);
    font-size: 16px;
    background-color: var(--pendiente);
    padding: 5px;
    border-radius: 18px;
}

/* Estados mascota */
.pendiente{
    color: var(--pendiente);
    font-weight: bold;
}

.disponible{
    color: var(--barra-nav);
    font-weight: bold;
}

.urgente{
    color: var(--urgente);
    font-weight: bold;
}

.tramitando{
    color: var(--tramitando);
    font-weight: bold;
}

.adoptada{
    color: var(--adoptada);
    font-weight: bold;
}

/* Acceso denegado */
.acceso_denegado{
    font-size: 25px;
    font-weight: bold;
}