{% extends 'panel_control.html.twig' %}
{% block title %} Aprobar mascota {% endblock %}
{% block javascripts %}
{% endblock %}
{% block main %}
<main>
    <div class="container formulario">
        <form method="POST" action="{{ path('rechazar_mascota', {'id': id}) }}">
            <div class="form-group">
                <label for="rechazo">Indica las razones para rechazar la mascota</label>
                <textarea class="form-control" rows="5" id="rechazo" name="rechazo"></textarea>
                <br />
                <div class="text-center">
                <input type="submit" class="btn btn_login my-2" id="enviar" name="enviar" value="Enviar" />
                <div>
            </div>
        </form>
    </div>
</main>
{% endblock %}